body::-webkit-scrollbar {
    width: 4px;
    background: black;

}
body::-webkit-scrollbar-thumb {
    background:black ;
    border-radius: 10px;
}
.formulario{
    width: 170px;
    margin: -15px;
    margin-bottom: 10px;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;

}

.menu{
    list-style: none;
    padding: 0;
    background-color: #970303;
    width: 90%;
    max-width: 400px;
    margin: auto;

        }  
        .menu li a {
            text-decoration: none;
            color: #4d4d4d;
            padding: 200px;
            display: block;
        }
        .menu li{
            display: inline-block;
            text-align: center;
        }
        .menu li a:hover{
            background-color:#ff525280;
        }



        * {
            margin:0px;
            padding:0px;
        }
        
        #header {
            margin:auto;
            width:775px;
            font-family:Arial, Helvetica, sans-serif;
            background-color:rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
        
        ul, ol {
            list-style:none;
        }
        
        .nav > li {
            float:left;


        }
        
        .nav li a {
            background-color:#97030300;
            color:#ffffff;

            text-decoration:none;
            padding:15px 30px;
            display:block;  
            border-radius: 10px;
        }
        
        
        .nav li a:hover {
            background-color:#43434362;
            color:#dd3838;
             background-color:rgba(0, 0, 0, 1.0);
            text-decoration:none;
            padding:18px 30px;
            display:block;  
            border-radius: 10px;
        }
        
        .nav li ul {
            display:none;
            background-color:rgba(0, 0, 0, 1.0);
            position:absolute;
            min-width:40px;
        }
        
        .nav li:hover > ul {
            display:block;

        }
        
        .nav li ul li {
            position:relative;
        }
        
        .nav li ul li ul {
            right:0px;
            top:0px;
        }  

        #text2 {
            border-style: solid;

            border-color: rgb(255, 255, 255);
            border-spacing: 10px;
            border-collapse: 10px;
            width:795px;
            height: 300px;
            font-family:Arial, Helvetica, sans-serif;
            background-color:rgb(255, 255, 255);
    
        }

        .banner {
            width: 800px;
            height: 500px;
            margin: auto;
            border-style: inherit;
            border-color: white;
            background-size: 100% 100%;
            animation: banner 10s infinite;
            animation-direction: alternate;
          }
        
     
        }

 
        .bannertanti {
            width: 800px;
            height: 500px;
            margin: auto;
            border-style: inherit;
            border-color: white;
            background-size: 100% 100%;
            animation: banner 10s infinite;
            animation-direction: alternate;
          }
      

    
          }

          html {
            min-height: 100%;
            position: relative;
          }
          body {
            margin: 0;
            margin-bottom: 10px;
          }
          footer {
            top: 375px;
            background-color: rgb(60, 60, 60);
            position: absolute;
            bottom: 0;
            width: 100%;
            color: white;
            border-radius: 10px;
          }        
 

          #contenedor img{
            width: 900px;            
            height: 500px;
          }


          .form-register {
  width: 400px;
  background: #121212;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #b1b1b1;
  padding: 10px;
  border-style: outset;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid darkred;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: darkred;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: darkred;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;